* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

button {
    border: none;
    cursor: pointer;
}

button,
button:active,
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
    outline: none;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #D37B2D;
    height: 64px;
}

.city-form {
    &__wrapper {
        background-color: #D57E31;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
    }

    &__group {
        display: flex;
    }

    &__input {
        background-color: #fff;
        border: 1px solid #E0E0E0;
        border-radius: 30px;
        padding: 24px;
        margin-right: 16px;
        width: 512px;

        &:focus {
            border: 1px solid #CB6B12;
        }
    }

    &__button {
        background-color: #CB6B12;
        border: 1px solid #BA6211;
        border-radius: 30px;
        width: 162px;
        color: #fff;

        &:hover {
            background-color: #BA6211;
            border: 1px solid #99500F;
        }
    }
}

.citiesTable {
    width: 100%;
    border-collapse: collapse;

    &__wrapper {
        padding: 24px 120px;
    }

    & thead {
        background-color: #F2F2F2;
        color: #656A70;
    }

    & th {
        text-align: left;
        padding: 15px;
        font-size: 14px;
        position: relative;
        cursor: pointer;

        &:first-child {
            width: 30%;

            &::after,
            &::before {
                position: absolute;
                color: #BDBDBD;
                font-size: 8px;
                left: 54px;
            }

            &::after {
                content: "▲";
                left: 54px;
            }

            &::before {
                content: "▼";
                top: 50%;
            }

            &.activeAsc {
                &::after {
                    color: #333;
                }
            }

            &.activeDesc {
                &::before {
                    color: #333;
                }
            }
        }
    }

    & td {
        padding: 30px 15px;
    }
}

.citiesTableItem {
    &__button {
        background-color: #fff;
        border: 1px solid #E0E0E0;
        border-radius: 30px;
        font-size: 14px;
        color: #CB6B12;
        width: 144px;
        padding: 10px 0px;

        &:hover {
            background-color: #FDF4EC;
            border: 1px solid #99500F;
        }
    }
}